<div class="container" class="image">
    <div  class="card card-container">
        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
        <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
                <label for="username">pseudo</label>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.username" #username="ngModel" required/>
                <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">
                    pseudo requis.

                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
                    <label for="password">mot de passe</label>
                    <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user.password" #password="ngModel" required/>
                    <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">

                        mot de passe requis
                    </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
        </form>
        <a href="/register" class="btn btn-link">Se creer un compte!</a>
    </div>
</div>

